.CheckList {
  --check-list-item-pad: 10px;
  --check-list-item-gap: 8px;
  --check-list-color-shadow: #888;

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  a {
    display: flex;
    align-items: center;
    color: unset;
    gap: 2px;
    font-size: 1.2em;
    text-decoration: none;
  }

  > span:first-of-type {
    display: flex;
    align-items: center;
    box-shadow: 0 0px 10px -5px var(--check-list-color-shadow);
    padding: var(--check-list-item-pad);
    justify-content: space-between;
  }

  ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    overflow-y: scroll;
  }

  .CheckBox {
    padding: var(--check-list-item-pad);
    span:last-of-type {
      display: flex;
      gap: 8px;
    }
  }
  .WeekLabel {
    display: block;
    padding: var(--check-list-item-pad);
  }
}
