.CheckList {
  --check-list-item-pad: 10px;
  --check-list-item-gap: 8px;

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;

  ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    overflow-y: scroll;
  }

  .CheckBox {
    padding: var(--check-list-item-pad);
    span:last-of-type {
      display: flex;
      gap: 8px;
    }
  }
  .WeekLabel {
    display: block;
    padding: var(--check-list-item-pad);
  }
}
